h2.popover-bottom(rel='popover', data-content='A workspace is a place for you to share content with friends.<BR><BR>Invite up to 5 friends by sharing the URL to this workspace with them.', data-original-title="Invite friends") 1. Send This Workspace to a Friend
.well
  .workspaceUrl
    .workspaceurl
  .copyContainer(style='position:relative')
    .copy.btn.btn-small.btn-default(rel='tooltip',data-original-title='Copied!', title='Copied!')
      | Copy to Clipboard