
.globalalert.alert.alert-info
  .title-container
    .title
      h1.workspace-title
      input.workspace-title-edit.hide
    .text
      a.workspace-option-link.rename-workspace rename this workspace
      a.workspace-option-link.delete-workspace delete this workspace