h2.popover-bottom(rel='popover', data-content='FUZ.IO uses some super high-tech awesome in order to get your files transferred faster.<BR><BR>When you send a file to a friend, your friend is able to start downloading immediately - without waiting for your upload to finish.', data-original-title="Send Files") 2. Send Files to Your Friend
#uploadContainer.well
  .row
    .buttons.col-md-6
      a#btnBrowse.btn.btn-primary.btn-large Upload Files
      .drop-notice or drop files here!
    .uploadcontrol.col-md-6
      .progress.progress-bar-info
        .progress-bar
      p.currently_uploading.nothingqueued
      p.currently_queued