
.navbar-header
  a.navbar-brand FUZ.IO
.collapse.navbar-collapse
  .loginsignup.navbar-right
    .username.navbar-text
    a.signup.btn.btn-success.navbar-btn(data-toggle='modal', data-target='#signupmodal') Sign Up
    a.login.btn.btn-primary.navbar-btn(data-toggle='modal', data-target='#loginmodal') Log In
    a.logout.btn.btn-primary.navbar-btn(href='#') Log Out